
//@import "transition-style";

.mainCharacterDetails {
    // flex-direction: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-content: center;
    //transform: scale(0); /* Escala inicial de 0, lo que oculta el contenido */
    //transition: transform 0.5s ease;
    display: flex;
    //flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

// .heart {
//     width: 18px; 
//     margin-left: 10px; 
//     align-self: center;
// }

// .question-mark {
//     color: white; 
//     font-size: 50px;
// }

.characterDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;
    list-style: none;
    text-align: center;
    // align-self: center;
    width: 500px; 
    padding: 10px 0; 
    border: 1px solid white;
    border-radius: 10px;
    color: white; 
    background-color: rgba(86, 187, 241, 0.6); //le hemos cambiado la opacidad en background-color
    gap: 5px; 
    
    // font-family: "Wellfleet", monospace;
    // font-weight: 400;
    // font-style: normal;

//     font-family: "Courier Prime", monospace;
//   font-weight: 400;
//   font-style: normal;

    animation-duration: 2s infinite;
    animation-name: zoom-in;
    animation: zoom-in 0.8s ease;  

    @keyframes zoom-in {
        0% {
            transform: scale(0.1);
        }
        100% {
            transform: scale(1.0);
        }
      }
   
    
    &__link {
        text-decoration: none;
        color: white; 
        display: flex;
        gap: 10px; 
        border: 1px solid rgb(131, 186, 128); 
        margin-top: 10px; 
        padding: 9px 2px 9px 14px; 
        border-radius: 20px;
        cursor: pointer; 

        &:hover {
            background-color: rgb(255, 255, 255);
            color: rgb(109, 168, 106);
        }

        &--backToList {
            font-size: 20px;
        }

        &--backToList-icon {
            font-size: 22px;
        }
    }

    .subtitles {
        color: rgb(95, 170, 141);
    }

    // &__imageContainer {
    //     display: flex;
    //     align-items: center;
    //     gap: 180px;

        &__image {
            width: 200px; 
            margin: 20px 0 10px; 
            border-radius: 10px;
            box-shadow: 10px 10px 10px 0px rgb(128, 128, 128, 0.5);
        }

        // &--angle {
        //     font-size: 25px;
        //     border: 1px solid rgb(255, 255, 255);
        //     border-radius: 50px;
        //     padding: 10px 15px;
        // }
       
    // }

    &__name {
        font-size: 30px;
    }

    &__species {
        font-size: 20px;
    }

    &__status {
        font-size: 20px;
    }

    &__origin {
        font-size: 20px;
    }

    &__episodes {
        margin-bottom: 20px;
        font-size: 20px;
    }
}

.angle {
    color: white;        
    font-size: 25px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 10px 15px;
}


.characterDetailsFooter {
    display: flex; 
    justify-content: center;
    margin: 70px 0 30px 0;

    &__gif {
        width: 200px; 
    }
}

// .characterDetails.visible {
//     opacity: 1; 
//     transform: translateY(0); 
// }