.characterCard {
    list-style: none;
    text-align: center;

    &__link {
        text-decoration: none;

        &--images {
            position: relative; 
            display: flex;
           
            .frontImage {
                width: 200px; 
                border-radius: 50%;
                border: 1px solid rgb(110, 145, 214); 
                margin-bottom: 10px;
            }
        }

       
        &--info {
            padding: 10px 0; 
            color: black; 
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(155, 155, 197) 35%, rgba(0,212,255,1) 100%);
           

            .more_info {
                display: flex; 
                justify-content: center;
                //position: relative; 

                &__btn {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    // padding: 5px 20px; 
                    padding: 10px 20px; 
                    margin-top: 10px;
                    cursor: pointer; 
                    font-size: 15px;
                    font-weight: bold;
                    color: #3364a3;  
                    border-radius: 10px;
                    border: 1px solid rgb(119, 197, 119); 
                    opacity: 0.8; 

                    // width: 70%;
                    // opacity: 0.7; 
                    // background-image: url('/src/images/rick_and_morty_portal.png');
                    // background-size: cover;
                    // background-position: center;

                }

                // &__img {
                //     width: 80px; 
                // }
            }
               
        }


    }
   
}