.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding-top: 20px;
    margin-bottom: 20px;
    position: relative;

    // @media screen and (min-width: 480px) {
    //     align-items: normal;
    //     gap: 0px;
    //     margin-top: -20px;
    //     align-items: center;
    // }

    @media screen and (max-width: 425px) {
        align-items: normal;
        gap: 0px;
        margin-top: -20px;
        align-items: center;
    }

    @media screen and (max-width: 480px) {
        padding-top: 40px;
    }

    &__portal {
        width: 70px;
        height: 70px;

        position: absolute;
        top: 40px;
        left: 40px;
        cursor: pointer;

        // @media screen and (min-width: 480px) {
        //     //top: 10px;
        //     //right: 100px;
        //     //margin-right: 60px;
        //     position:static;
        //     text-align: center;
        //     margin-bottom: -20px;
        // }

        @media screen and (max-width: 425px) {
            //top: 10px;
            //right: 100px;
            //margin-right: 60px;
            position:static;
            text-align: center;
            margin-bottom: -20px;
        }

        // @media screen and (max-width: 480px) {
        //     top: 10px;
        //     left: 190px;
        // }

        @media screen and (max-width: 550px) {
            top: 10px;
            left: 190px;
        }

    }




    &__imageAndLogo {
        display: flex;
        flex-direction: column;


        &--logo {
            width: 350px;
            position: relative;
            text-align: center;
            top: 20px;
            left: 120px;

            @media screen and (max-width: 425px) {
                //top: 20px;
                //left: 0px;
                width: 300px; 
                //padding-right: 30px;
                //position: static;
            }


            @media screen and (max-width: 425px) {
                //top: 20px;
                //left: 0px;
                width: 300px; 
                //padding-right: 30px;
                //position: static;
            }

            @media screen and (max-width: 480px) {
                top: 20px;
                left: 50px;
            }

            @media screen and (max-width: 550px) {
                top: 20px;
                left: 50px;
            }

        }

        &--imageBoys {
            width: 600px;
            border: 1px solid white;
            box-shadow: 0px 0px 5px 1px rgb(255, 252, 252);
            align-self: center;


            @media screen and (max-width: 375px) {
                width: 90vw;
            }

            @media screen and (max-width: 480px) {
                width: 90vw;
            }

            @media screen and (max-width: 650px) {
                width: 90vw;
            }
        }
    }



}