
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    padding-top: 80px; 
    margin-bottom: 20px;
    position: relative; 
    
    &__imageLogo {
        width: 350px; 
        position: absolute; 
        top: 0; 
    }

    &__imageBoys {
        width: 500px; 
    }
}
