
.headerCharacterDetails {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // gap: 20px; 
    padding-top: 50px; 
    margin-bottom: 50px;
    // position: relative; 
    text-align: center;
    
    &__imageLogo {
        width: 350px; 
        // position: absolute; 
        // top: 0; 
    }

    // &__imageBoys {
    //     width: 500px; 
    // }
}
