.noNameFoundContainer {
    // color: white; 
    // font-size: 30px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__message {
        font-size: 30px;
        text-align: center;
        color: white;  
        width: 600px; 
        line-height: 1.5;
    }

    &__message2 {
        font-size: 30px;
        text-align: center;
        color: white;  
        width: 600px; 
        line-height: 1.5;

        .wink {
            color: rgb(163, 197, 210); 
            margin-left: 10px; 
            font-size: 25px;
        }
    }

    &__gif {
        width: 500px; 
        margin: 20px 0 50px 0; 
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(163, 226, 214, 0.8);
    }
}
