.noNameFoundContainer {
    // color: white; 
    // font-size: 30px;
    //margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    //position: relative;

    &__message1 {
        font-size: 30px;
        text-align: center;
        color: white;  
        width: 600px; 
        line-height: 1.5;
        position: relative;
        top: 100px; 

        @media screen and (max-width: 480px) {
            font-size: 26px;
        }
    }

    &__message2 {
        font-size: 30px;
        text-align: center;
        color: white;  
        width: 600px; 
        line-height: 1.5;
        position: relative; 
        top: 100px; 

        @media screen and (max-width: 480px) {
            font-size: 26px;
        }

        // .wink {
        //     color: rgb(163, 197, 210); 
        //     margin-left: 10px; 
        //     font-size: 25px;
        // }
    }

    //DO NOT PANIC IMAGE
    // &__gif {
    //     width: 700px; 
    //     //margin: 20px 0 50px 0; 
    //     border-radius: 10px;
    //     box-shadow: 0px 0px 10px rgba(163, 199, 226, 0.8);
    // }
    
    //OTHER IMAGES
    &__gif {
        width: 550px; 
        //margin: 20px 0 50px 0; 
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(163, 199, 226, 0.8);

        @media screen and (max-width: 480px) {
            width: 440px; 
        }
    }
}
